$main-font: "Manrope", sans-serif;
$primary-color: #293356;
$secondary-color: #848EAD;
$third-color: #FF8D68;
$fourth-color: #BECDFF;
$slider-circle-color: #10D8C4;
$slider-circle-touch-color: #24AEA1;
$circle-choice-color: #7AEADF;
$slider-input-color: #A4F3EB;
$percent-background-color: #FEEDE8;
$border-color: #ECF0FB;
$input-color: #CFD8EF;
$box-shadow-color: #eaeefb;
$background-color: #fafbff;
$white: #FFF;
$black: #000;